PORT=3000
DB_HOST=localhost
DB_PORT=5433
DB_NAME=auction_db
DB_USER=auction_user
DB_PASSWORD=auction_pass
DB_POOL_MAX=10
REDIS_URL=redis://localhost:6379
RABBITMQ_URL=amqp://localhost
RABBITMQ_BID_QUEUE=bid_persist_queue
JWT_SECRET=auction_jwt_secret_key_default_development
JWT_EXPIRES_IN=24h